{% extends "Dashboard.html" %}
{% load static %}
{% block content %}
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Sensores</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Anemometro</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" src="assets/images/author/avatar.png" alt="avatar">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Usuario <i
                        class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <!-- bar chart start -->
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-0">Historial</h4>
                    <select class="custome-select border-0 pr-3">
                            <option selected>Nodo 1</option>
                            <option value="0">Nodo 2</option>
                            <option value="0">Nodo 3</option>
                        </select>
                    <div id="amlinechart5"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <div class="card">                             
                <div class="card-body">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Variable
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Año</a>
                                <a class="dropdown-item" href="#">Mes</a>
                                <a class="dropdown-item" href="#">Dia</a>
                            </div>
                    <select class="custome-select border-0 pr-3">
                            <option selected>2020</option>
                    </select>
                    <select class="custome-select border-0 pr-3">
                            <option selected>Enero</option>
                            <option value="0">Febrero</option>
                            <option value="0">Marzo</option>
                            <option value="0">Abril</option>
                            <option value="0">Mayo</option>
                            <option value="0">Junio</option>
                            <option value="0">Julio</option>
                            <option value="0">Agosto</option>
                            <option value="0">Septiembre</option>
                            <option value="0">Octubre</option>
                            <option value="0">Noviembre</option>
                            <option value="0">Diciembre</option>
                    </select>
                    <select class="custome-select border-0 pr-3">
                            <option selected>1</option>
                            <option value="0">2</option>
                            <option value="0">3</option>
                            <option value="0">4</option>
                            <option value="0">5</option>
                            <option value="0">6</option>
                            <option value="0">7</option>
                            <option value="0">8</option>
                            <option value="0">9</option>
                            <option value="0">10</option>
                            <option value="0">11</option>
                            <option value="0">12</option>
                            <option value="0">13</option>
                            <option value="0">14</option>
                            <option value="0">15</option>
                            <option value="0">16</option>
                            <option value="0">17</option>
                            <option value="0">18</option>
                            <option value="0">19</option>
                            <option value="0">20</option>
                            <option value="0">21</option>
                            <option value="0">22</option>
                            <option value="0">23</option>
                            <option value="0">24</option>
                            <option value="0">25</option>
                            <option value="0">26</option>
                            <option value="0">27</option>
                            <option value="0">28</option>
                            <option value="0">29</option>
                            <option value="0">30</option>
                            <option value="0">31</option>
                    </select>
                    <div id="ambarchart1"></div>
                </div>
            </div>   
        </div>
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-center">
                    <h4 class="header-title mb-0">Buscar valor</h4>
                    </div>
                        <select class="custome-select border-0 pr-3">
                            <option selected>2020</option>
                            <option value="0">2019</option>
                        </select>
                        <select class="custome-select border-0 pr-3">
                            <option selected>Enero</option>
                            <option value="0">Febrero</option>
                            <option value="0">Marzo</option>
                            <option value="0">Abril</option>
                            <option value="0">Mayo</option>
                            <option value="0">Junio</option>
                            <option value="0">Julio</option>
                            <option value="0">Agosto</option>
                            <option value="0">Septiembre</option>
                            <option value="0">Octubre</option>
                            <option value="0">Noviembre</option>
                            <option value="0">Diciembre</option>
                        </select>
                            <select class="custome-select border-0 pr-3">
                            <option selected>01</option>
                            <option value="0">02</option>
                            <option value="0">03</option>
                            <option value="0">04</option>
                            <option value="0">05</option>
                            <option value="0">06</option>
                            <option value="0">07</option>
                            <option value="0">08</option>
                            <option value="0">09</option>
                            <option value="0">10</option>
                            <option value="0">11</option>
                            <option value="0">12</option>
                            <option value="0">13</option>
                            <option value="0">14</option>
                            <option value="0">15</option>
                            <option value="0">16</option>
                            <option value="0">17</option>
                            <option value="0">18</option>
                            <option value="0">19</option>
                            <option value="0">20</option>
                            <option value="0">21</option>
                            <option value="0">22</option>
                            <option value="0">23</option>
                            <option value="0">24</option>
                            <option value="0">25</option>
                            <option value="0">26</option>
                            <option value="0">27</option>
                            <option value="0">28</option>
                            <option value="0">29</option>
                            <option value="0">30</option>
                            <option value="0">31</option>
                        </select>
                    
                    <div class="market-status-table mt-4">
                        <div class="table-responsive">
                            <table class="dbkit-table">
                                <tr class="heading-td">
                                    <td class="nodo">Nodo</td>
                                    <td class="estado">Estado</td>
                                    <td class="valor">Valor</td>

                                </tr>
                                <tr>
                                    <td class="nodo">Nodo 1</td>
                                    <td class="estado">Inactivo <img src="assets/images/icon/market-value/triangle-down.png" alt="icon"></td>
                                    <td class="valor">0</td>
                                </tr>
                                <tr>
                                    <td class="nodo">Nodo 2</td>
                                    <td class="estado">Activo <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                                    <td class="valor">20Km/h</td>
                                </tr>
                                <tr>
                                    <td class="nodo">Nodo 3</td>
                                    <td class="estado">Activo <img src="assets/images/icon/market-value/triangle-up.png" alt="icon"></td>
                                    <td class="valor">25Km/h</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-0">Anemometro</h4>
                    <select class="custome-select border-0 pr-3">
                            <option selected>Nodo 1</option>
                            <option value="0">Nodo 2</option>
                            <option value="0">Nodo 3</option>
                    </select>
                <div class="card">
                    <div class="card-body">
                    <canvas data-type="radial-gauge" data-width="300" data-height="300" data-units="Km/h" data-value="50" data-min-value="0" data-max-value="220" data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220" data-minor-ticks="2" data-stroke-ticks="true" data-highlights="[{&quot;from&quot;: 160, &quot;to&quot;: 220, &quot;color&quot;: &quot;rgba(200, 50, 50, .75)&quot;}]" data-color-plate="#fff" data-border-shadow-width="0" data-borders="false" data-needle-type="arrow" data-needle-width="2" data-needle-circle-size="7" data-needle-circle-outer="true" data-needle-circle-inner="false" data-animation-duration="1500" data-animation-rule="linear" width="330" height="330" style="width: 300px; height: 300px;" title=""></canvas>
                </div>
            </div>
                </div>
            </div>
        </div>
    <!-- bar chart end -->
</div>
{% endblock %}